@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #151c2c;
  --bgSoft: #182237;
  --text: white;
  --textSoft: #b7bac1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 6px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #3477f2;
}
*::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #ffffff;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  text-decoration: none;
}

th {
  background-color: #384e7c !important;
  color: white !important;
}

tr[data-odd='true'] > td::before {
  background-color: #253352 !important;
}
tr:hover > td:before {
  opacity: 1;
  background-color: #384e7c !important;
}

.animation-btn {
  position: relative;
  transition: 0.38s ease-out;
  background: linear-gradient(
    to right,
    #4c95fa,
    #38c9fa,
    #24f9c4,
    #24f9c4,
    #38c9fa,
    #4c95fa
  );
  background-size: 1000%;
  color: #fff;
  cursor: pointer;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.12);
  animation: glow 60s linear infinite;
}

.animation-btn:hover::after {
  opacity: 1;
}

.animation-btn:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 100px;
  background: inherit;
  filter: blur(20px);
  transition: 0.38s ease-out;
  opacity: 0;
}

@keyframes glow {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 1000%;
  }
}

.login-btn-spinner .border-b-primary{
  border-bottom-color: #fff;
}
